
body, input, select, textarea {
  color: #000000;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.75;
}

@media screen and (max-width: 1680px) {

  body, input, select, textarea {
    font-size: 14pt;
  }


#footer {
  background-color: #D5C2D7;
}

#footer > .inner .copyright {
  width: 100%;
  padding: 0;
  margin-top: 5em;
  list-style: none;
  font-size: 0.8em;
  color: #232323;
}
#footer > .inner .copyright a {
  color: inherit;
}

#footer > .inner .copyright li {
  display: inline-block;
  border-left: solid 1px #232323;
  line-height: 1;
  padding: 0 0 0 1em;
  margin: 0 0 0 1em;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

  .image img {
    border-radius: 4px;
    display: block;
  }
